/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
}

.container {
  width: 80%;
  margin: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.floating {
  float: left;
}

/* General */
img {
  width: 100%;
}

.gray_layer_banner {
  height: 460px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.gray_layer_column {
  height: 190px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Header */
.menù {
  height: 120px;
  margin-top: 30px;
}

/* Logo */
.logo {
  height: 50px;
  width: 170px;
}
#img_logo {
  padding-right: 20px;
  border-right: 1px solid #cbbeb7;
}

/* Nav */
li {
  display: inline-block;
  line-height: 120px;
  text-transform: uppercase;
  margin-right: 10px;
  color: #b4b4b4;
}

/* Main */
.first_content {
  height: 460px;
  /* background-color: #e1d67a; */
  margin-top: 30px;
}

/* Banner */
.banner {
  height: 460px;
  background-image: url(../img/banner.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  color: white;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}

.banner_text {
  padding-left: 50px;
  padding-top: 300px;
  width: 50%;
}

.banner_title {
  font-size: 32px;
}

/* Article */
.second_content {
  height: 580px;
  /* background-color: #0088f7; */
  margin-top: 30px;
}

.top_section {
  height: 80px;
  /* background-color: #abcfe6; */
  margin-bottom: 20px;
}

/* Title */
#title {
  padding-top: 10px;
  font-size: 36px;
  font-weight: bold;
}

.sub_title {
  color: #b4b4b4;
  font-size: 16px;
}

/* Float Section */
.float_section {
  margin-bottom: 20px;
}

.left_section,
.right_section {
  height: 450px;
  width: 25%;
  /* background-color: #abcfe6; */
}

.middle_section {
  height: 450px;
  width: calc(50% - 40px);
  /* background-color: #abcfe6; */
  margin: 0px 20px;
}

/* Left Column */
.column_img {
  border-radius: 10px;
  height: 190px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 30%;
}

.left_img {
  background-image: url(../img/img-1.jpg);
}

.right_img {
  background-image: url(../img/img-3.jpg);
}

.middle_img {
  background-image: url(../img/banner-2.jpg);
  background-position-y: 50%;
}

/* Column Paragraph */

.article {
  font-size: 16px;
  color: #b4b4b4;
}

.title_p {
  padding: 10px 0;
  color: black;
  font-weight: normal;
}


/* Footer */
.end_page {
  height: 60px;
  /* background-color: #8801fe; */
  margin-top: 30px;
  margin-bottom: 30px;
}

.credit{
    text-align: center;
    line-height: 60px;
    font-weight: normal;
}
.fa-heart{
    color: red;
}